<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnviroNotify LIFF</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bg-sky-100">
    <nav class="bg-sky-400 px-8 py-4 flex justify-between text-white drop-shadow-lg">
        <h1 class="order-first text-4xl font-bold my-auto">EnviroNotify LIFF</h1>
        <div id="container" class="text-lg flex justify-between">
            <button id="btn" class="transition ease-in-out delay-150 bg-green-600 p-4
            font-bold my-auto hover:bg-green-800 order-last">Waiting for LIFF</button>
        </div>
    </nav>
    <script>
        const container = document.getElementById("container")
        const btn = document.getElementById("btn")
        liff.init({
            liffId: '2002540804-7koJoM5b', // Use own liffId
            withLoginOnExternalBrowser: false, // Enable automatic login process
        }).then(() => {
            if (!liff.isLoggedIn() && !liff.isInClient()){
                btn.setAttribute("onclick", "liff.login()")
                btn.textContent = 'Login LINE';
            }
            else {
                const idToken = liff.getDecodedIDToken()
                const usrname = document.createTextNode("สวัสดีคุณ " + idToken["name"])
                const usrnameContainer = document.createElement("p")
                usrnameContainer.appendChild(usrname)
                container.insertBefore(usrnameContainer, btn)
                usrnameContainer.classList.add("my-auto")
                btn.setAttribute("onclick", "liff.logout(); location.reload()")
                btn.textContent = 'Logout';
            }
            // start to use LIFF's api
        }).catch((err) => {
            btn.textContent = 'Err: Something went wrong';
        });
    </script>
    {% block content %}
    
    {% endblock content %}
</body>
</html>