{% extends "base.html" %}
{% block content %}
<h1>Report Environment</h1>
<div>
  <canvas id="myChart"></canvas>
</div>
  {% raw %}
  <script>
    const labels1 = Array.from({ length: 15 }, (_, index) => index + 1);
    const data1 = {
      labels: labels1,
      datasets: [{
          label: 'Humidity',
          data: {% raw %}[{% for value in data["humidity"] %}{{ value }},{% endfor %}]{% endraw %},
          fill: false,
          borderColor: 'rgb(0, 128, 255)',
          tension: 0.1
        }]
    };

    const config1 = {
    type: 'line',
    data: data1,
    };

    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var myChart1 = new Chart(ctx1, config1);
  </script>
  
  <script>
    const labels2 = Array.from({ length: 15 }, (_, index) => index + 1);
    const data2 = {
      labels: labels2,
      datasets: [{
          label: 'Temperature',
          data: {% raw %}[{% for value in data["temperature"] %}{{ value }},{% endfor %}]{% endraw %},
          fill: false,
          borderColor: 'rgb(255, 1, 127)',
          tension: 0.1
        }]
    };

    const config2 = {
    type: 'line',
    data: data2,
    };

    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx2, config2);
  </script>

  <script>
    const labels3 = Array.from({ length: 15 }, (_, index) => index + 1);
    const data3 = {
      labels: labels3,
      datasets: [{
          label: 'Pressure',
          data: {% raw %}[{% for value in data["pressure"] %}{{ value }},{% endfor %}]{% endraw %},
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
    };

    const config3 = {
    type: 'line',
    data: data3,
    };

    var ctx3 = document.getElementById('myChart3').getContext('2d');
    var myChart3 = new Chart(ctx3, config3);
  </script>

  {% if data %}

  <ul>
    <li><strong>Timestamp:</strong> {{ data["timestamp"] }}</li>
    <li><strong>Humidity:</strong> {{ data["humidity"] }} %</li>
    <li><strong>Temperature:</strong> {{ data["temperature"] }} °C</li>
    <li><strong>Pressure:</strong> {{ data["pressure"] }} hPa</li>
  </ul>
  {% else %}
  <p>ไม่พบข้อมูล</p>
  {% endif %}
{% endblock content %}