<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CN466 LIFF demo</title>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
</head>
<body>
    <h1>Status</h1>
    <p id="status">Waiting for LIFF</p>
    <script>
        liff.init({
            liffId: '', // Use own liffId
            withLoginOnExternalBrowser: true, // Enable automatic login process
        }).then(() => {
            document.getElementById('status').textContent = 'LIFF is ready';
            // start to use LIFF's api
        }).catch((err) => {
            document.getElementById('status').textContent = 'Something went wrong';
        });
    </script>
</body>
</html>